extends abstract.pug

block body
  p(class='extra')
  div(class='header-result')
    a(href="/") Wiki Search
  p(class='extra')
  form(action='result',method='GET')
    input(type='text', size=40, name='q', value=`${query}`, id='search-input')
    input(class='submit' type='submit' value='Search')

    table(border='0' class='count-result')
      tbody
        tr
          td
            p= 'Found ' + count + ' result(s)'
    table(border='0' class='list-result')
      tbody
        each doc in docs
          if doc
            tr
              td
                a(href=doc.url[0])
                  b= doc.title
                  br
              td
            tr
              td(class='result-snippet')
                p
                  | !{doc.highlight}
            tr
              td(class='result-url')
                span= doc.url
                hr

